.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .side-panel {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .center-panel {
    flex: 3;
    padding: 10px;
    background-color: white;
  }
  