.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .side-panel {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
  }
  .center-panel {
    flex: 3;
    padding: 10px;
    background-color: white;
  }


  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .App-header {
    background-color: #ffffff;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  



  .css-input {
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 47px;
    border-style: double;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 28px 0px rgba(42, 42, 42, .0);
    font-weight: normal;
    font-family: monospace;
    width: 600px;
  }
  
  .css-input:focus {
    outline: none;
  }
  
  .button-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .button-container body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #27272c;
    color: #fff;
  }
  
  .button-container button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  .button-container button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .button-container button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .button-container button span {
    position: relative;
    z-index: 1;
  }
  .button-container button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .button-container button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button-container button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .button-container button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button-container button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  
  
